[Unit]
Description=Hangzhou Bay Dual-Stream Detection (A/B)
Requires=hangzhouwan-business.service hangzhouwan-video.service
Wants=hangzhouwan-supervisor.service
After=hangzhouwan-business.service hangzhouwan-video.service hangzhouwan-supervisor.service

[Install]
WantedBy=multi-user.target
